<!DOCTYPE html>
<html>
<head>
    <title>Kermit Memes</title>
    <link href="/assets/memes.css" type="text/css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link href="http://bbsimg.ngfiles.com/1/15044000/ngbbs477a6112350e8.gif" type="img/gif" rel="icon">
</head>

<body>
    <div class="header">
    <h1>Memes</h1>
    </div>
    
    <p>Specifically catered to sad smol Kermit memes</p>
</body>


</html>
