<!DOCTYPE html>
<html>
<head>
  <title>Emily's Biography</title>
  <link href="home.css" type="text/css" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Satisfy" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
  <link href="http://bbsimg.ngfiles.com/1/15044000/ngbbs477a6112350e8.gif" type="img/gif" rel="icon">
</head>

<body>
  <div class="header">
    <h1>Emily's Biography</h1>
    </div>
    <br/>
    <a href=/memes class="myButton">MEMES</a>
    <div class="facts">
    <h3 style="margin-left: 40px">Some facts about Emily</h3>
    <ul style="margin-left: 40px">
        <li>She likes to eat spicy food even though it makes her diarrhea.</li>
        <li>She likes to eat nuggs even though it makes her diarrhea.</li>
        <li>She likes to dia...jk she doesn't but she does it anyway.</li>
    </ul>
    </div>
    
    <div class="facts">
    <h3 style="margin-left: 40px">Where to find Emily</h3>
    <p style="margin-left: 40px">You might have trouble finding her in real life since she basically lives on FB. <br/> You know you have friended her when she tags you in like 95848952 things.</p>
    </div>
    
    <div class="facts">
    <h3 style="margin-left: 40px">Some nicknames of Emily</h3>
    <ul style="margin-left: 40px">
        <li>Poohead</li>
        <li>Cookie</li>
        <li>Empoo</li>
    </ul>
    </div>
    <h3>Here's a picture of happy Emily to end it</h3>
    <img src=https://pbs.twimg.com/media/C84yfUKU0AEgx4t.jpg width=400/>
    <img src=https://toomawashi.files.wordpress.com/2010/10/kermieeeeeeeee.jpg width=400 title="fook me in the arse">
</body> 
</html>